body {
   padding-top:65px;
   background: #716a68;

}

#carouselGames {
   width: 80%;
   margin: auto;
}

.card {
   margin: auto;
}

#who {
   width: 80%;
   margin: auto;
   background-color: #7e7a79;
}

#members{
   width:80%;
   margin:auto;
   background-color: #8d807d;
}

.shotenSamurai:hover {
   cursor: pointer;
}

#shotenGithub:hover {
   cursor: pointer;
}

.navbar{
   background-color: #313131;
}
.active{
  background-color: #8d807d; /* Anything you want */
}

@media (max-width: 576px) { 
   .desktop{
      display:none;
   }
   .mobile{
      display:block;
   }
   
}

@media (min-width: 578px) { 
   .desktop{
      display:block;
   }
   .mobile{
      display:none;
   }
   
}